<footer class="footer">
    <div class="copyright">
        CopyRight &copy; <%= new Date().getFullYear() %> NavisReadfolio
    </div>
    <div class="reference">
        Book Cover Image courtesy <a class="link" href="https://openLibrary.org" target="_blank">Open Library</a>
    </div>
</footer>




<script>
    const seemore = document.querySelectorAll(".seemore button");
    seemore.forEach(seemore => {
        const parent = seemore.closest('.text');
        const hiddenText = parent.querySelector(".hiddenText");
        seemore.style.color = "blue";
        seemore.addEventListener("click", () => {
            if (hiddenText.style.display === "none" || hiddenText.style.display === "") {
                hiddenText.style.display = "block";
                seemore.textContent = "See Less";
            }
            else {
                seemore.textContent = "See More";
                hiddenText.style.display = "none";
            }
        })
    })

   

     
</script>
</body>

</html>