<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavisReadfolio</title>
    <link rel="stylesheet" href="/styles/main.css">

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">NavisReadfolio</a>
        </div>
        <ul>
            <li><a href="/docs">Docs</a></li>
            <li>
                <a class="sort">Sort <span class="arrow">▼</span></a>
                    <ul class="drop-down ">
                        <li><a href="/recent">by Recent</a></li>
                        <li><a href="/rating">by Rating</a></li>
                    </ul>

            </li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>